llama-index
pypdf
python-dotenv
pandas
langchain
openai
huggingface_hub
langchain_community
diffusers
invisible_watermark 
transformers 
accelerate 
safetensors
peft
bitsandbytes
trl
datasets
langgraph
langchain_openai
langsmith
langchainhub
duckduckgo-search
beautifulsoup4
gradio
google-search-results